<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ge.sql.corectsched.proto.Properties.Settings.geprotoConnectionString"
            connectionString="Data Source=HPHST;Initial Catalog=geproto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>